{{#if showConfirmation}}
  {{player.qz-player-confirmation attempts=attempts collection=collection context=context onStartPlayer='openPlayer' onClosePlayer="closePlayer" onRemixCollection="remixCollection"}}
{{else}}
  {{#if showPlayerHeader}}
      {{player.qz-player-header
        collection=collection
        onRemixCollection="remixCollection"
        onClosePlayer="closePlayer"
        isTeacher=isTeacher
        isAnonymous=isAnonymous
      }}
  {{/if}}
    <div class="component player">
        <div class="qz-main {{if showFinishConfirmation 'submission-confirm'}}" role="main">
          {{#if collection.hasResources }}
            {{#if showFinishConfirmation}}
              {{player.qz-submit-confirmation onConfirmFinish='finishCollection' onCancelFinish='resumeCollection'}}
            {{else}}
              {{#if resource}}
                {{player.qz-viewer
                isNotIframeUrl=isNotIframeUrl
                collection=collection
                resource=resource
                resourceResult=resourceResult
                role=role
                submitted=contextResult.submitted
                onSubmitQuestion="submitQuestion"
                isNextEnabled="isNextEnabled"}}
                {{player.qz-player-footer
                  resource=resource
                  isNavigationDisabled=isNavigationDisabled
                  isTeacher=isTeacher
                  submitted=contextResult.submitted
                  collection=collection
                  unit=unit
                  lesson=lesson
                  classId=classId
                  course=course
                  resourceResults=resourcesPlayer
                  selectedResourceId=resourceId
                  showFeedback=showFeedback
                  ratingScore=resourceResult.reaction
                  readOnly=contextResult.submitted
                  onChangeEmotion="changeEmotion"
                  onFinishCollection="submitAll"
                  showFinishConfirmation=showFinishConfirmation
                  onItemSelected="selectNavigatorItem"
                  showPrevious=showPrevious
                  showNext=showNext
                  onPreviousResource="previousResource"
                  onNextResource="nextResource"
                  isNextEnabled=isNextEnabled
                }}
              {{/if}}
            {{/if}}
          {{else}}
          {{! TODO add the not found component here}}
          {{/if}}
        </div>
    </div>
{{/if}}
